/*The blue theme*/
body, p {
  font-family: "Andale Mono", "Consolas", monospace;
  color: #c0c0c0;
  background-color: #000040;
  min-width: 320px;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}
p {
  font-size: 14px;
}
h1 {
  font-size: 1.3em;
}
em {
  font-size: 2em;
}
svg {
  width: 100px;
}
#error {
  padding: 0 1em;
}
.billboard {
  background-image: url("../img/pink_flower_png_by_hanabell1-d6l7hc0.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 300px;
  image-rendering: auto;
}
