    body {
      font-family: 'Courier New', monospace;
      font-size: 24px;
    }

    em {
      color: #f00;
    }
    a:link {
      color: #ffffff;
      text-decoration: none;
    }

    a:visited {
      color: #778899;
      text-decoration: none;
    }

    a:hover, a:active {
      color: #FF9933;
      text-decoration: none;
    }
    
    .links, .footer {
      width: 100%;
      border: 2px solid;
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
      background: #1C1C1C;
      color: #ffffff;
      text-decoration: none;
    }

    .footer {
      font-size: 0.75em;
    }

    div.title {
      font-size: 1.83em;
      font-weight: bold;
      text-align: center;
      padding: 10px;
      margin: 0;
    }

    div.subtitle {
      font-size: 0.83em;
      font-style: italic;
      font-weight: normal;
      text-align: center;
      padding: 0;
      margin: 0;
    }
    
    div.section-outter {
      width: 100%;
      border: 2px solid;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    
    div.section-title {
      margin: 5px;
      font-size: 1.17em;
      font-weight: bold;
      text-decoration: underline;
    }
    
    div.section-notes {
      margin: 10px;
    }
    
    div.code-embed {
      position: relative;
      background-color: #1C1C1C;
      border-radius: 5px;
      color: #D0D0D0;
      display: block;
      text-align: center;
      font: 0.92em Monaco, monospace;
      margin: 10px;
      overflow: auto;
      padding: 15px;
      line-height: 125%
    }
    
    div.code-embed span {
      color: #ed9d13;
    }
